<div class="ob-product-actions-box">
    <div class="action-btn-row ob-mobile">
        {{#if product_results.faceted_search_enabled}}
            <a class="ob-btn ob-btn--secondary ob-btn-border ob-filter-btn" aria-label="{{lang 'search.faceted.selected.facet-label'}}">
                <svg><use xlink:href="#icon-filter" /></svg>
            </a>
        {{/if}}
        <a class="ob-btn ob-btn--secondary ob-btn-border ob-sort-btn" aria-label="{{lang 'common.sorter.sort_by'}}">
            <svg><use xlink:href="#icon-sort" /></svg>
        </a>
    </div>
</div>

