{{#if children}}
<a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} top--level"
   href="{{url}}"
   data-collapsible="navPages-{{dashcase name}}"
>
    {{name}}
    <i class="icon navPages-action-moreIcon" aria-hidden="true">
        <svg><use xlink:href="#icon-chevron-down" /></svg>
    </i>
</a>
<div class="navPage-subMenu" id="navPages-{{dashcase name}}" aria-hidden="true" tabindex="-1">
    <div class="navPages-subMenu-wrap">
        {{#all theme_settings.is_night theme_settings.header_menu_background_image}}
            <img class="menu-bg" src="{{cdn 'assets/img/ob-custom/nav-bg.png'}}" alt="Menu background" />
        {{/all}}
        <ul class="navPage-subMenu-list">
            <div class="ob-child-group ob-child-group--full">
                <ul class="ob-child-group-list">
                    {{#each children}}
                        <li class="navPage-subMenu-item">
                            {{#if children}}
                                <a class="navPage-subMenu-action navPages-action mid--level{{#if is_active}} activePage{{/if}}"
                                   href="{{url}}"
                                   aria-label="{{name}}"
                                >
                                    {{name}}
                                </a>

                                <ul class="ob-grandchild-list">
                                    {{#each children}}
                                        <li class="navPage-subMenu-item grandchild-item">
                                            <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}"
                                               href="{{url}}"
                                               aria-label="{{name}}"
                                            >
                                                {{name}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                <a class="navPage-subMenu-action navPages-action mid--level{{#if is_active}} activePage{{/if}}"
                                   href="{{url}}"
                                   aria-label="{{name}}"
                                >
                                    {{name}}
                                </a>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </ul>
    </div>
</div>
{{else}}
<a class="navPages-action{{#if is_active}} activePage{{/if}} top--level"
   href="{{url}}"
   aria-label="{{name}}"
>
    {{name}}
</a>
{{/if}}
