<section class="featured-collections">
    <div class="featured-collections__inner">
        <div class="featured-collections__header">
            <h2 class="featured-collections__title">
                Let Blue Thumb Bring the Tranquility of Flowing Water to Your Life
            </h2>
        </div>

        <div class="featured-collections__grid">
            <a href="/fountains/handcrafted-gfrc-fountains" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/grfc.jpg?t=1770204554"
                    alt="Bubbling Boulders">
                <span class="featured-collections__label">
                    What are Bubbling Boulders?
                </span>
            </a>

            <a href="/fountains/real-stone-fountains" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/realstone2.jpg?t=1770205444"
                    alt="Real Stone Fountains">
                <span class="featured-collections__label">
                    Real Stone Fountains
                </span>
            </a>

            <a href="/fountains/vase-fountains" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/vase.jpg?t=1770205446"
                    alt="Vase Fountain Styles">
                <span class="featured-collections__label">
                    100s of Vase Fountain Styles
                </span>
            </a>

            <a href="/garden-fish-ponds" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/pond-less.jpg?t=1770205448"
                    alt="Water Gardens and Fish Ponds">
                <span class="featured-collections__label">
                    Water Gardens &amp; Fish Ponds
                </span>
            </a>

            <a href="/pond-less-waterfalls" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/fromalfalls.jpg?t=1770205450"
                    alt="Pond-less Waterfalls">
                <span class="featured-collections__label">
                    Shop Pond-Less Waterfalls
                </span>
            </a>

            <a href="/formal-waterfalls" class="featured-collections__item">
                <img
                    src="https://cdn11.bigcommerce.com/s-g33rmoufv1/images/stencil/original/image-manager/waterfall-spillway.png?t=1770113762"
                    alt="Water Walls">
                <span class="featured-collections__label">
                    Formal Falls® in Water Walls
                </span>
            </a>
        </div>
    </div>
</section>
