<section class="featured-collections">
  <div class="featured-collections__header">
    <h2 class="featured-collections__title">
      Let Blue Thumb Bring the Tranquility of Flowing Water to Your Life
    </h2>
  </div>

  <div class="featured-collections__inner">
    <div class="featured-collections__grid">


      <article class="featured-collections__item">
        <div class="featured-collections__media">
          <img
            src="/assets/img/blue-thumb/FishPond.jpg"
            alt="Ponds">
        </div>

        <h3 class="featured-collections__label">Ponds</h3>

        <p class="featured-collections__description">
          Blue Thumb has everything you need to keep Large Lakes &amp; Ponds clean, clear, and healthy all year long
        </p>

        <a href="/fountains/handcrafted-gfrc-fountains" class="ob-btn ob-btn--primary">
          Shop Ponds
        </a>
      </article>


      <article class="featured-collections__item">
        <div class="featured-collections__media">
          <img
            src="/assets/img/blue-thumb/WaterFall.jpg">
        </div>

        <h3 class="featured-collections__label">Waterfalls</h3>

        <p class="featured-collections__description">
          Blue Thumb Makes it Easy to Build Your Retaining Wall Waterfall. These waterfall walls can easily be added to
          any block wall structure and are a great alternative to ponds or fountains
        </p>

        <a href="/fountains/real-stone-fountains" class="ob-btn ob-btn--primary">
          Shop Waterfalls
        </a>
      </article>


      <article class="featured-collections__item">
        <div class="featured-collections__media">
          <img
            src="/assets/img/blue-thumb/StonesWaterfall.jpg"
            alt="Fountains">
        </div>

        <h3 class="featured-collections__label">Fountains</h3>

        <p class="featured-collections__description">
          Blue Thumb has a wide selection of fountains with finishes in a full spectrum of sizes, designs, materials and colors.
        </p>

        <a href="/fountains/vase-fountains" class="ob-btn ob-btn--primary">
          Shop Fountains
        </a>
      </article>

    </div>
  </div>
</section>
