<section class="homeowners">
  <div class="homeowners__container">

    <div class="homeowners__text">
      <div class="homeowners__label">HOMEOWNERS</div>

      <h2 class="homeowners__title">
        Find a Professional<br />
        Near You
      </h2>

      <p class="homeowners__description">
        We can assist with locating a Blue Thumb Authorized Contractor near you
        for guidance on creating an outdoor space you'll absolutely LOVE!
      </p>

      <a href="/fountains/handcrafted-gfrc-fountains" class="homeowners ob-btn ob-btn--primary">
        Call Today
      </a>

    </div>

    <div class="homeowners__image-small-top">
      <img src="/assets/img/blue-thumb/birds.jpg" alt="Bird bath">
    </div>

    <div class="homeowners__image-large">
      <img src="/assets/img/blue-thumb/vases.jpg" alt="Vases">
    </div>

  </div>
</section>