<section class="usp">
  <div class="usp__inner">

    <div class="usp__left">
      <h2 class="usp__title">
        Our Products are<br>
        truly one of a kind
      </h2>

      <div class="usp__features">

        <article class="usp__item">
          <div class="usp__icon">
            <img src="/assets/svg/star-icon.svg" alt="Start">
          </div>
          <h3 class="usp__itemTitle">Exclusive Features</h3>
          <p class="usp__itemText">
            Your source for truly unique fountains & Water Features.
          </p>
        </article>

        <article class="usp__item">
          <div class="usp__icon">
            <img src="/assets/svg/bulb-icon.svg" alt="Light Blulb">
          </div>
          <h3 class="usp__itemTitle">Handcrafted</h3>
          <p class="usp__itemText">
            Many of our products are created by our artisan team.
          </p>
        </article>

        <article class="usp__item">
          <div class="usp__icon">
            <img src="/assets/svg/gear-icon.svg" alt="Gears">
          </div>
          <h3 class="usp__itemTitle">Performance Focused</h3>
          <p class="usp__itemText">
            Professional-grade quality made easy for the everyday enthusiast.
          </p>
        </article>

        <article class="usp__item">
          <div class="usp__icon">
            <img src="/assets/svg/truck-icon.svg" alt="Truck">
          </div>
          <h3 class="usp__itemTitle">Fast, Shipping</h3>
          <p class="usp__itemText">
            We ship nationwide, with care
          </p>
        </article>

      </div>
    </div>

    <div class="usp__right">
      <div class="usp__imageWrap">
        <img
          class="usp__image"
          src="/assets/img/blue-thumb/CoverShot.jpg"
          alt="Product image"
        >
      </div>
    </div>

  </div>
</section>
