<section class="professionals">
  <div class="professionals__container">

    <div class="professionals__image-large">
      <img src="/assets/img/blue-thumb/brick_waterfall.jpg" alt="Waterfall">
    </div>

    <div class="professionals__text">
      <div class="professionals__label">PROFESSIONALS</div>

      <h2 class="professionals__title">
        Become a Wholesale<br />
        Partner
      </h2>

      <p class="professionals__description">
        We can assist with locating a Blue Thumb Authorized Contractor near you
        for guidance on creating an outdoor space you'll absolutely LOVE!
      </p>

      <a href="/fountains/handcrafted-gfrc-fountains" class="professionals ob-btn ob-btn--primary">
        Call Today
      </a>

      <div class="professionals__image-small-bottom">
        <img src="/assets/img/blue-thumb/square_fountain.jpg" alt="Square fountain">
      </div>
    </div>

  </div>
</section>
