<section class="shipping">

<section class="shipping">
  <div class="shipping__gradient">
    <div class="shipping__content">
      <img src="/assets/img/blue-thumb/MadeInMichigan.png" alt="Made in Michigan" class="shipping__logo" />

      <h2 class="shipping__title">We Ship Nationwide with Care</h2>

      <p class="shipping__description">
        From our factory in Saginaw, Michigan, to landscapes across
        the United States and beyond.
      </p>
    </div>
    <a href="/shipping-delivery" class="shipping__button ob-btn ob-btn--primary">
      Shipping & Delivery
    </a>
  </div>
</section>


<section class="testimonials">

  <div class="testimonials__container">

    <div class="testimonials__label">
      TESTIMONIALS
    </div>

    <h3 class="testimonials__title">
      Looking forward to my next project
    </h3>

    <p class="testimonials__text">
      "I wanted to say thank you so much for having such wonderful products.
      The quality is stellar compared to what other companies have. Also,
      I know I had concerns about shipping so far, but your packaging is fantastic!"
    </p>

    <div class="testimonials__author">
      - O. Harrington, AMA Landscape and Design, Greater Dallas, Texas
    </div>

  </div>

</section>
