#header_logo_container {
    position: relative;
    display: inline-block;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: url("/assets/img/BlueThumbLogo.png") no-repeat center;
        background-size: contain; 

        pointer-events: none;
        z-index: -1;
    }

    &>svg {
        width: clamp(140px, 50vw, 200px);
        height: auto;
    }

}