---
cart: true
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
{{inject 'products' cart.items}}

<div class="page">

    <div class="page-content" data-cart>
        {{!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} --}}

        {{> components/cart/page-title}}

        {{#if cart.status_messages}}
            <div data-cart-status>
                {{> components/cart/status-messages}}
            </div>
        {{/if}}

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            <div class="ob-cart-content-wrap">
                <div class="ob-cart-left" data-cart-content>
                    {{> components/cart/content}}
                </div>

                <div class="ob-cart-right">
                    <h3>Order Summary</h3>
                    
                    <div data-cart-totals>
                        {{> components/cart/totals}}
                    </div>

                    {{{region name="cart_below_totals"}}}

                    {{#if cart.show_primary_checkout_button}}
                        <div class="cart-actions">
                            <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                            {{#if cart.show_multiple_address_shipping}}
                                <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                                    {{lang 'cart.preview.checkout_multiple'}}
                                </a>
                            {{/if}}
                        </div>
                    {{else}}
                        <div class="cart-actions">
                            <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                        </div>
                    {{/if}}

                    <div data-cart-additional-checkout-buttons class="cart-additionalCheckoutButtons">
                        {{> components/cart/additional-checkout-buttons}}
                    </div>
                </div>
            </div>

        {{else}}
            <div class="ob-cart-content-wrap empty-cart">
                <h3 tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
            </div>
        {{/if}}

    </div>
</div>
{{/partial}}
{{> layout/base}}
