
<div class="ob-compare-bar ob-full-width">
	<div class="container">
		<div class="compare-products-preview">
			<div class="compare-instruction">
				{{lang 'compare.instructions'}}
			</div>
			<div class="product-cube cube-empty" data-product-id="">
				<span class="clear-cube">
					<svg><use xlink:href="#icon-close" /></svg>
				</span>
				<div class="image-wrap"></div>
			</div>
			<span class="compare-add">+</span>
			<div class="product-cube cube-empty" data-product-id="">
				<span class="clear-cube">
					<svg><use xlink:href="#icon-close" /></svg>
				</span>
				<div class="image-wrap"></div>
			</div>
			<span class="compare-add">+</span>
			<div class="product-cube cube-empty" data-product-id="">
				<span class="clear-cube">
					<svg><use xlink:href="#icon-close" /></svg>
				</span>
				<div class="image-wrap"></div>
			</div>
			<span class="compare-add">+</span>
			<div class="product-cube cube-empty" data-product-id="">
				<span class="clear-cube">
					<svg><use xlink:href="#icon-close" /></svg>
				</span>
				<div class="image-wrap"></div>
			</div>
		</div>
		<div class="compare-button">
			<span class="selected-count ob-desktop">
				(0 {{lang 'compare.selected'}})
			</span>
			<a class="button button--primary button--full-mobile"
				href="{{urls.compare}}"
				data-compare-nav
				aria-label="{{lang 'common.compare'}}"
				disabled
			>
				{{lang 'common.compare'}}
			</a>
		</div>
	</div>
</div>
