$mainNav: ".navPages-list:not(.navPages-list--user)";

@include breakpoint("medium") {
  #{$mainNav} {
    display: flex;
    flex-wrap: wrap;

    .navPages-action {
      white-space: nowrap;
    }
  }

  .header {
    height: auto;
  }

  [data-theme-variant="vogue"] {
    a.navPages-action.top--level:not(.image-action),
    a.beta-link.blog-link {
      text-transform: uppercase !important;
      letter-spacing: 0 !important;
    }

    .body#main-content {
      padding-top: 2rem;
    }

    .ob-child-group-list > .navPage-subMenu-item {
      flex: 0 0 33.333%;
      height: 56px; 

      &> a.navPage-subMenu-action {
        display: block;
        text-transform: uppercase !important;
        letter-spacing: 0;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: normal;
        padding-left: 2px !important;
        padding-right: 2px !important;
      }
    }
  }
}

@include breakpoint("large") {
  .header--bottom {
    #{$mainNav} {
      flex-wrap: nowrap !important;
      align-items: center;
    }
  }

  i.icon.navPages-action-moreIcon {
    margin-left: 4px;
  }

  [data-theme-variant="vogue"] {
    .body#main-content {
      padding-top: 0;
    }
  }
}
